.slaider {
    height: 100vh;
    top: 0;
    background-position-y: bottom;
    width: 100%;
    background-repeat: no-repeat;
    display: none;

    &.active {
        display: block;
    }
}

header .sub-menu {
    display: none;

    &.active {
        display: block;
    }
}


h4 {
    position: absolute;
    text-transform: uppercase;
    color: rgb(99, 5, 5);
    padding: 320px 558px;
    font-size: 47px;
    font-family: Banny;
    font-style: Bold Round;

}

.nav_arrow {
    width: 100%;
    position: absolute;
    top: 350px;
}

.slick-next,
.slick-prev {
    position: absolute;
    z-index: 998;
    // cursor: pointer;
    border: none;
    outline: 0;
    font-size: 3em;
    overflow: hidden;
    background: none;
    width: 170px;
    height: 170px;
}

.slick-next {
    right: 20px;
}

.slick-prev {
    left: 20px;
}

.icon_svg {
    stroke-width: var(--icon-stroke-width);
    display: inline;

    svg {
        width: 24px;
        height: 24px;
    }
}

.circles {
    width: 100%;
    bottom: 15px;

    position: absolute;
    justify-content: center;
    display: flex;


    .circle {
        height: 20px;
        width: 20px;
        margin-left: 7px;
        border-radius: 50%;
        background: black;

        &.active {
            background: white;

        }
    }

    svg.active {
        fill: aliceblue;
    }
}